.search {
    position: relative;
    padding: 2rem;

    >label {
        position: absolute;
        left: 53px;
        top: 45px;
    }

    >input {
        width: 100%;
        padding: 1rem;
        border-radius: 50px;
        padding-left: 50px;
        font-family: var(--fontJ);
        font-weight: 300;
    }
}

.search-page {
    background-color: var(--pointBg);
    padding: 2rem;
    position: fixed;
    left: 260px;
    right: 400px;
    height: 100%;

    h1 {
        margin-bottom: 20px;
    }

    >ul {
        >li {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            font-family: var(--fontJ);
            font-weight: 400;
            cursor: pointer;
            height: 44px;

            .img {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                display: block;
                margin-right: 10px;
                background-size: 190%;
                background-position: center;
            }

            .title {
                flex: 1 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .playNow {
                padding: 17px 3px 10px 3px;
                cursor: pointer;
                font-size: 20px;

                svg {
                    &:hover {
                        color: #f00;
                    }
                }
            }

            .listAdd {
                padding: 15px 10px 10px 10px;
                cursor: pointer;
                font-size: 20px;

                svg {
                    &:hover {
                        color: aqua;
                    }
                }
            }

            .chartAdd {
                padding: 15px 20px 10px 0px;
                cursor: pointer;
                font-size: 20px;
                position: relative;
            }

            &:hover {
                background-color: var(--pointColor);
                border-radius: 50px;
                color: var(--white);
            }
        }
    }



}